__pycache__
*.pyc

yolo/yolo*.cfg
yolo/yolo*.weights
yolo/yolo*.onnx
yolo/yolo*.trt
yolo/*.json
yolo/calib_images/
yolo/calib_*.bin

plugins/*.o
plugins/*.so

modnet/venv*
modnet/*.ckpt
modnet/*.onnx
modnet/*.engine
